*, *::before, *::after {
    box-sizing: border-box;
}

.puzzle-box, .box {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.puzzle-box {
    margin: 0 auto;
    min-width: 30em;
    max-width: 50em;
    height: 60vh;
    align-content: center;
}

.control-buttons {
    margin: 5em auto 0 auto;
    width: fit-content;
}

.box {
    align-items: center;
    width: 33.33%;
    height: 33.33%;
    margin: 0;
    font-size: 5em;
}
